body {
    margin: 0;
}

#container {
    top: 50px;
    position: absolute;
    float:bottom;
    align-content: center;
    width: 95%;
    height: 95%;
}

#graph-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;      
    position: relative;
    float: bottom;
}

#graph-container2 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;      
    position: relative;
    float: bottom;
}

#notice {
    bottom: 1em;
    right: 1em;
    position: absolute;
}

#noborderComposition{
    border: none;
}

#tabViewComposition{
    height: 600px; 
    border: none;
}

#layoutComposition{
    width:400px;
    height:500px;
}


#analysisOfServicesComposition{
    margin: 10px 0 0 10px; 
    border: none;
}

.hidden {
    display: none;
}   

.sigma-tooltip {
    max-width: 240px;
    max-height: 260px;
    background-color: rgb(249, 247, 237);
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    overflow-y: auto;
}

.sigma-tooltip-header {
    font-variant: small-caps;
    font-size: 120%;
    color: #437356;
    border-bottom: 1px solid #aac789;
    padding: 10px;
}

.sigma-tooltip-body {
    padding: 5px;
}

.sigma-tooltip-body th {
    color: #999;
    text-align: left;
}

.sigma-tooltip-footer {
    padding: 10px;
    border-top: 1px solid #aac789;
}

.sigma-tooltip > .arrow {
    border-width: 10px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.sigma-tooltip.top {
    margin-top: -12px;
}

.sigma-tooltip.top > .arrow {
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
    border-top-color: rgb(249, 247, 237);
    border-bottom-width: 0;
}

.sigma-tooltip.bottom {
    margin-top: 12px;
}

.sigma-tooltip.bottom > .arrow {
    left: 50%;
    top: -10px;
    margin-left: -10px;
    border-bottom-color: rgb(249, 247, 237);
    border-top-width: 0;
}

.sigma-tooltip.left {
    margin-left: -12px;
}

.sigma-tooltip.left > .arrow {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-left-color: rgb(249, 247, 237);
    border-right-width: 0;
}

.sigma-tooltip.right {
    margin-left: 12px;
}

.sigma-tooltip.right > .arrow {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-right-color: rgb(249, 247, 237);
    border-left-width: 0;
}

.sigma-tooltip-body2 {
    padding: 0px;
}

.sigma-tooltip-body2 th {
    color: #999;
    text-align: left;
}