@import url(http://fonts.googleapis.com/css?family=Jockey+One);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 0;
}

header {
    background-image: url(images/shattered.png);
}

header h1 {
    padding: 15px 10px;
    font-family: "Jockey One", sans-serif;
    margin: 0;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 1px 1px 0 #333333;
}

.page-header {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.ui-breadcrumb ul li a {
    text-decoration: none;
}

.hide {
    display: none;
}

.panelGridLabel {
    text-align: right;
    display: block;
    font-weight: bold;
}

/*Remove borders in panelGrid*/
.outerpanelgrid>tbody>tr{
    border: none !important;
}

.outerpanelgrid>tbody>tr>td{
    border: none !important;
}

#main {
    margin-bottom: 20px;
}

.btn-small {
    font-size: .8em!important;
}

/* Prime Faces bug fixes caused by global box-sizing */
.ui-selectonemenu .ui-selectonemenu-trigger {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/*Prime Face - to remove border in p:datalist*/
.datalist-noborder .ui-datalist-content {
    border: 0px !important;
    border: none !important;
}

.datalist-noborder .ui-widget-content {
    border: 0px !important;
    border: none !important;
}

.accordionMenu .ui-menu {
 width:100% !important; 
 
}
.accordionMenu .ui-accordion-content {
 padding:0 !important;
 overflow:inherit !important;
}

.accordionMenu .ui-helper-clearfix:after {
 height:inherit !important;
}

.ui-icon.fa {
     text-indent:0px;
     background-image:none;
}

.panel-heading{
    background-image: linear-gradient(#EAEAEA, #DADADA 60%, #C7C7C7);
    color: #000 !important;

}

.profile ul{
	margin-top: 30px;
	margin-left: -30px;
}

.profile li{
	list-style: none;
	line-height: 1.9em;
}

footer{
	background: #f4f4f4;
	height: 90px;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	margin-top: 30px;
	border-top: 7px solid #C7C7C7;
}

.col-header {
  margin: 46px 0 30px;
}

.tag-cloud{
    margin: 58px 50px 30px;
}

 #mynetwork {
      width: 715px;
      height: 600px;
      border: 1px solid lightgray;
    }